.cards{
    display: flex;
    gap: 10px;

}
.parent-container{
    flex: 1;

}
@media screen and (max-width:1200px) {
    .cards{
        flex-direction: column;
    }
}
@media screen and (max-width:768px){
    .cards{
        width: 90%;
    }
}

